.CompanyPage {
  padding: 15px;
  padding-top: 0;
}

.CompanyPage h1 {
  background: #333 !important;
  color: white !important;
  margin-top: 10px !important;
  padding: 10px !important;
}

.CompanyPage h2 {
  margin-top: 15px !important;
  margin-bottom: 30px !important;
  font-size: 14px !important;
  padding-left: 10px !important;
}

.CompanyPage h3 {
  font-size: 14px !important;
}

.CompanyPage img {
  margin-top: 15px;
  max-width: 100%;
  height: auto;
}

.ButtonPhone {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.ButtonPhone p {
  margin-right: 10px !important;
}
.ButtonPhone button {
  background: #4caf50;
  color: white !important;
  border: none !important;
}

.ButtonPhone button:hover {
  background: #4caf50 !important;
}
