.DataBox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.DataBox,
.DataBox span,
.DataBox h3,
.DataBox h4,
.DataBox p {
  padding: 5px 0 !important;
  margin: 0 !important;
  font-family: 'Nunito', sans-serif !important;
  text-align: left;
}

.DataBox .Left {
  width: 30%;
  margin-right: 10px;
  text-transform: uppercase;
}

.DataBox .PhoneIcon {
  margin: 0 !important;
  padding: 0 !important;
}

.InlineTextIcon {
  width: 100% !important;
  min-height: 20px !important;
  display: flex;
  flex-direction: row;
}
