.SliderContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.ChipContainer {
  margin: 10px 0 0 10px !important;
  min-height: 20px;
  display: flex;
  flex-direction: row;
}

.ChipContainer a,
.ChipContainer a:active,
.ChipContainer a:link,
.ChipContainer a:visited {
  text-decoration: none !important;
}

.SliderChip {
  margin: 0 10px 0 0 !important;
  padding: 10px;
}

.SliderTitleChip {
  margin: 10px 0 0 10px !important;
  padding: 10px !important;
  font-size: 18px !important;
  font-weight: bold !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
  width: auto;
  max-width: 300px !important;
  float: left;
}

.SliderTitleChip * {
  margin: 0;
  padding: 0;
  width: auto;
}

.carousel__dot-group {
  display: flex !important;
  align-content: center !important;
  justify-content: center !important;
  margin: 10px 0 !important;
}

.carousel__dot-group button {
  float: left;
  background: #333 !important;
  border: none;
  border-radius: 20px;
  height: 20px !important;
  width: 20px !important;
  margin: 5px !important;
}

.carousel__dot-group .carousel__dot--selected {
  background: #f1645b !important; /* TODO: Este color tiene que ser global */
}
