.Page {
  /* margin-top: 30px; */
}

.ContentBox {
  padding: 30px;
  padding-top: 0;
}

.ContentBox h1 {
  font-size: 24px !important;
  line-height: 30px !important;
  letter-spacing: normal !important;
  text-transform: undefined !important;
  color: #484848 !important;
  padding-top: 2px !important;
  padding-bottom: 0px !important;
  margin-top: 30px;
  margin-bottom: 4px !important;
}

.ContentBox h2 {
  margin: 0px !important;
  margin-bottom: 8px !important;
  word-wrap: break-word !important;
  font-size: 12px !important;
  font-weight: 800 !important;
  line-height: 1.3333333333333333em !important;
  letter-spacing: 0.08333333333333333em !important;
  color: #484848 !important;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.ContentBox p {
  font-size: 14px !important;
  line-height: 18px !important;
  letter-spacing: normal !important;
  text-transform: undefined !important;
  color: #484848 !important;
  padding-top: undefined !important;
  padding-bottom: undefined !important;
}

.ContentBox li {
  padding-left: 0 !important;
}

.List {
  margin: 0 !important;
  padding: 0 !important;
}

.ListItem,
.ListItem ul {
  padding: 0 !important;
  margin: 0 !important;
}

.ContentBox_input {
  margin-top: 20px !important;
  width: 100% !important;
}

.SearchButton {
  margin: 0 !important;
  margin-top: 20px !important;
  width: 100% !important;
}

.DetailBox {
  padding: 30px;
}

.DetailBox h2 {
  font-weight: bold !important;
  font-size: 22px !important;
  line-height: 30px !important;
  letter-spacing: normal !important;
  color: rgb(72, 72, 72) !important;
  padding-bottom: 2px !important;
  margin-top: 0;
  padding-top: 0;
  text-align: center;
}

.DetailBox h3 {
  color: rgb(72, 72, 72) !important;
  text-align: center;
  font-weight: normal !important;
}

.DetailBox p {
  color: rgb(72, 72, 72) !important;
  font-size: 14px;
  text-align: center;
  margin-bottom: 30px !important;
}

.DetailBox a:-webkit-any-link {
  color: white !important;
}

.PhoneAvatar {
  background: #333 !important;
}
