.logo {
  margin: 10px !important;
  width: 186px;
  height: 50px;
}

.SideNav {
  width: 250px !important;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.SideNav .SearchBox {
  padding: 10px;
  min-height: 40px;
}

.SideNav .SearchBox .Input {
  width: 100%;
}

.SideNav .List {
  padding-top: 0 !important;
}

.SideNavButton * {
  font-family: 'Nunito', sans-serif !important;
}
